.header {
  position: sticky;
  top: 0;
  background-color: var(--cl-primary);
  box-shadow: 0px 2px 6px #00000075;
  z-index: 1000;
  &__content {
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 0.7rem;
  }
  &__logo {
    border-radius: 0.5rem;
  }
}
