.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 6px #00000075;
  background-color: var(--cl-primary);
  height: 75px;
  padding: 0.7rem;
  &__logo {
    border-radius: 0.5rem;
  }
}
