<section>
  <div class="modal-header gap-3">
    <h4 class="text-center text-primary">{{ task.title }}</h4>
    <button
      type="button"
      class="btn-close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <strong>Personas asociadas:</strong>
    <ng-container *ngFor="let person of task.people">
      <ul>
        <li>
          <i class="fa-solid fa-user"></i> {{ person.name }} ({{ person.age }})
          <div>
            <span>
              <i class="fa-solid fa-laptop-code"></i> Habilidades:
              <ng-container
                *ngFor="let skill of person.skills; let lastItem = last"
              >
                {{ skill }}<ng-container *ngIf="!lastItem">,</ng-container>
              </ng-container>
            </span>
          </div>
        </li>
      </ul>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="openManageTask()">
      Editar
    </button>
  </div>
</section>
