<div class="card task">
  <div class="card-body task__body">
    <p role="button" class="card-title text-primary text-center">
      {{ task.title }}
    </p>
    <span>{{ task.description | ellipsis }}</span>
  </div>
  <div class="card-footer">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Completada
      </label>
    </div>
  </div>
</div>
