<div class="card task">
  <div class="text-end p-2">
    <span class="text-secondary">{{ task.date }}</span>
  </div>
  <div class="card-body pt-0">
    <h6 class="card-title text-primary text-center">
      {{ task.title }}
    </h6>
    <div *ngIf="task.people.length; else notPersons"></div>
  </div>
  <div class="card-footer">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
        [checked]="task.completed"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Completada
      </label>
    </div>
  </div>
</div>
<ng-template #notPersons>
  <span>No hay personas vinculadas a esta tarea.</span>
</ng-template>
