<div class="card task">
  <div class="text-end p-2">
    <span class="text-secondary">{{ task.date }}</span>
  </div>
  <div role="button" class="card-body pt-0" (click)="openViewTask()">
    <h6 class="card-title text-primary text-center">
      {{ task.title }}
    </h6>
    <div *ngIf="description; else noDescription">
      <p>
        {{ description }}
      </p>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <div class="form-check">
      <input
        #checkComplete
        class="form-check-input"
        type="checkbox"
        value=""
        id="checkComplete-{{ id }}"
        [formControl]="checkControl"
        (change)="onToggleComplete()"
      />
      <label class="form-check-label" for="checkComplete-{{ id }}">
        Completada
      </label>
    </div>
  </div>
</div>
<ng-template #noDescription>
  <span>No hay descripción.</span>
</ng-template>
