<div class="create-task">
  <div class="modal-header">
    <h4 class="text-center text-primary">
      {{ task ? "Editar" : "Crear" }} tarea
    </h4>
    <button
      type="button"
      class="btn-close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <form class="modal-body" [formGroup]="form">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="title"
        placeholder=""
        formControlName="title"
      />
      <label for="title">Título</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="date"
        class="form-control"
        id="date"
        placeholder=""
        formControlName="date"
      />
      <label for="date">Fecha límite</label>
      <span *ngIf="date?.hasError('dateInvalid')" class="text-danger">
        La fecha debe ser mayor o igual a la fecha actual.
      </span>
    </div>
    <div class="form-floating mb-3">
      <textarea
        class="form-control"
        placeholder="Ingresar descripción"
        id="description"
        style="height: 100px"
        formControlName="description"
      ></textarea>
      <label for="description">Descripción</label>
    </div>
    <ng-container formArrayName="people">
      <p *ngIf="people.controls.length">Personas asociadas:</p>
      <div
        *ngFor="let person of people.controls; let i = index"
        class="card mb-3"
        [formGroupName]="i"
      >
        <div class="card-body">
          <input
            type="text"
            class="mb-3 form-control"
            id="name"
            placeholder="Nombre"
            formControlName="name"
          />
          <span
            *ngIf="person.get('name')?.hasError('nameAlreadyExists')"
            class="text-danger"
          >
            El nombre de la persona ya existe.
          </span>
          <input
            type="number"
            class="mb-3 form-control"
            id="age"
            placeholder="Edad"
            formControlName="age"
          />
          <div class="mb-3 d-flex justify-content-between">
            <span>Habilidades:</span>
            <button class="btn btn-sm btn-primary" (click)="addSkill(i)">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <ng-container formArrayName="skills">
            <ng-container
              *ngFor="
                let skill of person.controls['skills'].controls;
                let iSkill = index
              "
            >
              <div class="mb-3 d-flex gap-3 align-items-center">
                <input
                  type="text"
                  class="form-control"
                  id="skill"
                  placeholder="Habilidad"
                  [formControl]="skill"
                />
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  (click)="removeSkill(i, iSkill)"
                >
                  <i class="fa-solid fa-minus"></i>
                </button>
              </div>
            </ng-container>
          </ng-container>
          <div class="text-end">
            <button
              type="button"
              class="btn btn-sm btn-danger"
              (click)="removePerson(i)"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-primary" (click)="addPerson()">
          Agregar persona <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </ng-container>
  </form>
  <div class="modal-footer create-task__buttons">
    <button type="button" class="btn btn-danger" (click)="closeModal()">
      Cerrar
    </button>
    <button
      type="button"
      class="btn btn-{{ task ? 'warning' : 'success' }}"
      [disabled]="form.invalid"
      (click)="saveTask()"
    >
      {{ task ? "Editar" : "Guardar" }}
    </button>
  </div>
</div>
