<div class="task-filter">
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-primary"
      [class.active]="currentFilter === 'all'"
      (click)="onToggleFilter('all')"
    >
      Todas
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [class.active]="currentFilter === 'pending'"
      (click)="onToggleFilter('pending')"
    >
      Pendientes
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [class.active]="currentFilter === 'completed'"
      (click)="onToggleFilter('completed')"
    >
      Completadas
    </button>
  </div>
</div>
