/* You can add global styles to this file, and also import other style files */
@use "./styles/mixins" as *;

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

:root {
  --cl-primary: rgb(255 189 68);
}

* {
  font-size: 14px;

  @include screen(small) {
    font-size: 16px;
  }
}

body {
  background-color: #fbfbfb;
}
